<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <div>
    <h1>Lets use ejs for our templating!</h1>

  </div>
  <div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus totam distinctio dolores officia nostrum non dolore, mollitia consequuntur quos odio provident reprehenderit! Necessitatibus optio neque doloremque eos! Libero, ipsam perspiciatis?</p>
    <p>Distinctio dolor possimus harum iusto perferendis! Modi tempora distinctio, repellendus maiores officia neque veritatis fugit, velit sequi numquam dolore autem nulla aliquam blanditiis corrupti facilis vero. Fugit facere sint explicabo!</p>
  </div>
</body>
</html>